<div class="inpust-wrapper">
  <div class="filed-wrapper">
    <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="fill" color="accent">
      <mat-label>Playe1</mat-label>
      <input matInput type="text" [formControl]="playerLName">
    </mat-form-field>
  </div>
  <app-scoreboard [scoreL]="playerL ? playerL.score : 0" [scoreR]="playerR? playerR.score : 0"></app-scoreboard>
  <mat-form-field class="form-field" subscriptSizing="dynamic" appearance="fill" color="accent">
    <mat-label>Playe2</mat-label>
    <input matInput type="text" [formControl]="playerRName">
  </mat-form-field>
</div>
