<div class="inputs-wrapper" *ngIf="selectGameStatus$ | async as status">
  <div class="field-wrapper">
    <h1>
      {{status.playerL.name}}
    </h1>
    <mat-form-field class="form-field" *ngIf="(status.player == 'playerL') || (status.player == '')"
      subscriptSizing="dynamic" appearance="fill" color="accent">
      <mat-label>Player 1</mat-label>
      <input matInput type="text" [formControl]="playerLName" [value]="status.playerL.name">
    </mat-form-field>
  </div>
  <app-scoreboard *ngIf="playersScore$ | async as pls" [scoreL]="pls.playerL" [scoreR]="pls.playerR"></app-scoreboard>
  <div class="field-wrapper">
    <h1>
      {{status.playerR.name}}
    </h1>
    <mat-form-field class="form-field" *ngIf="(status.player == 'playerR') || (status.player == '')"
      subscriptSizing="dynamic" appearance="fill" color="accent">
      <mat-label>Player 2</mat-label>
      <input matInput type="text" [formControl]="playerRName" [value]="status.playerR.name">
    </mat-form-field>
  </div>

</div>
