<div class="button-wrapper">
  <button mat-fab color="primary" (click)="start()"><mat-icon>play_circle</mat-icon></button>
  <button mat-fab color="primary" (click)="pause()"><mat-icon>pause_circle</mat-icon></button>
  <button mat-fab color="primary" (click)="reset()"><mat-icon>restart_alt</mat-icon></button>
</div>

<app-player-name-input></app-player-name-input>
<div class="board" *ngIf="boardStyles$ | async as config" [style]="boardStyle" [ngClass]="goals">
  <div class="field"></div>
  <div class="field"></div>
  <app-ball class="ball" *ngIf="ball$ | async " [diameter]="config.ballDiameter" [style]="ballPosition"></app-ball>
  <app-paddle *ngIf="paddleState$ | async as paddles" class="paddle paddle-left"
    [style.top]="paddles.paddleL.x+'px'"></app-paddle>
  <app-paddle *ngIf="paddleState$ | async as paddles" class="paddle paddle-right"
    [style.top]="paddles.paddleR.x+'px'"></app-paddle>
</div>
